*{padding:0;margin:0;font-family:Consolas,Tahoma,Arial,Helvetica,sans-serif;}
body{overflow:hidden;}
#page{display:none;}
#top{height:68px;border:1px solid #2cb0c7;}#top h1{font-size:30px;}#top h1:before,#top h1:after{content:"☆";}
#top a{height:100%;color:purple;float:left;text-decoration:none;vertical-align:bottom;}#top a span{font-size:11px;}
#left{float:left;width:210px;}
#right{overflow:hidden;}
#main{width:100%;_margin-left:-3px;}
#resizebar{border-right:1px solid #2cb0c7;float:right;width:3px;height:100%;cursor:e-resize;background:white;}
#menu{float:left;overflow:hidden;border:1px solid #2cb0c7;}
#menu li{overflow:hidden;height:25px;margin:0;list-style:none;padding:0 0 1px 0;}
#menu li ul{height:auto;overflow:hidden;overflow-y:auto;display:none;font-weight:normal;}
#menu li .container{font-size:14px;padding-left:5px;color:white;cursor:pointer;line-height:27px;height:25px;width:100%;overflow:hidden;display:block;background:#2cb0c7;}
#menu li li{padding:1px 0 0 0;height:auto;}#menu li li .container,#menu li li a{background:white;font-size:13px;padding-left:10px;color:#ff4400;}#menu li li .container:hover,#menu li li a:hover{background:#c3ffff;}
#menu li li .hovered{background:#c3ffff;}
#menu li li .selected{background:#7effff;}#menu li li .selected:hover{background:#7effff;}
#menu li li a{color:blue;line-height:25px;text-decoration:none;display:block;font-size:12px;}
#menu li li li .container,#menu li li li a{padding-left:20px;}
#menu li li li li .container,#menu li li li li a{padding-left:30px;}
